*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
textarea {
  scrollbar-color: var(--sub-color) var(--bg-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar,
ul::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  border-radius: 4px;
}

::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track {
  background: var(--bg-color);
}

html {
  font-size: 18px;
  line-height: 1.25;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  padding-block: 2rem;
  row-gap: 2rem;
}

.content-grid {
  --padding-inline: 2rem;
  --content-max-width: 720px;

  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    min(var(--content-max-width), 100%)
    minmax(0, 1fr);
}

.content-grid > * {
  grid-column: 2;
  min-width: 0;
  padding-inline: var(--padding-inline);
}

/* HEADER */

header {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

header h1 {
  color: var(--main-color);
  font-family: var(--font);
  font-size: 2.0582em;
  line-height: 1.5;
  letter-spacing: 0.0875em;
  margin: 0;
}

/* APP */

main.app {
  align-items: start;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1.5rem;
}

section {
  width: 100%;
}

label {
  font-size: 0.7862em;
  line-height: 1;
  font-family: var(--sans-font);
  color: var(--sub-color);
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
}

/* INPUT */

.input-wrapper {
  position: relative;
}

input[type="search"] {
  background-color: white;
  border: 0.15em solid var(--main-color);
  border-radius: 0.5rem;
  font-family: var(--font);
  font-size: 1em;
  min-width: 0;
  outline: none;
  padding: 0.5em;
  width: 100%;
}

input[type="search"]:hover {
  background-color: var(--bg-color);
}

input[type="search"]:focus-visible {
  border: 0.15em solid var(--main-color);
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  display: none;
}

.input-wrapper.is-open input[type="search"] {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* SUGGESTIONS */

.suggestions {
  background-color: white;
  border: 0.15em solid var(--main-color);
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: none;
  list-style: none;
  left: 0;
  margin: 0;
  outline: none;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
}

.suggestions.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.suggestions li {
  cursor: pointer;
  padding: 0.5rem;
}

.suggestions li:hover,
.suggestions li.highlighted {
  background-color: var(--bg-color);
}

/* OUTPUT */

.output {
  padding: 0;
  border-top: 1px solid var(--border-color);
  width: 100%;
}

.output.placeholder {
  color: var(--sub-color);
}

.output.error {
  color: var(--error-color);
}

.output h2 {
  margin: 0;
  font-size: 1.35em;
  line-height: 1.5;
  letter-spacing: 0.0625em;
  color: var(--main-color);
  font-family: var(--font);
  font-size: 1.272em;
}

.output .muscle-meta {
  margin-top: 0.125rem;
  margin-bottom: 1rem;
  font-size: 0.7862em;
  color: var(--sub-color);
  letter-spacing: 0.01em;
}

.output .field {
  margin-bottom: 1rem;
}

.output .field:not(:last-child) {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--sub-alt-color);
}

.output .field strong {
  font-size: 0.7862em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--sub-color);
  margin-bottom: 0.25rem;
}

.output .field ul {
  margin: 0;
  padding-left: 1rem;
  list-style-type: "* ";
}

.output .field ul li {
  margin-bottom: 0.25rem;
}

/* FOOTER */

footer {
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

footer small {
  font-family: var(--font);
  font-size: 0.7862em;
  line-height: 1.25;
  margin: 0;
  padding: 0.5em;
}

footer small,
footer a,
footer a:visited {
  color: var(--sub-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
