/* todo: update */
:root {
  --bg-color: #fffbfe;
  --main-color: #b94189;
  --caret-color: #e099d6;
  --sub-color: #e094c2;
  --sub-alt-color: #ecdcee;
  --text-color: #5c2954;
  --error-color: #ff6f69;
}
